include nc/VERSION
include requirements.txt
include test_requirements.txt
include README.rst
recursive-exclude test *
recursive-exclude bin *
recursive-exclude build *
recursive-exclude htmlcov *
recursive-exclude dist *
